#container.active {
    display: block;
}
#showMenu.active {
    display: flex;
}
#showMenus.active {
    display: flex;
}

#Chevronup.active {
    display: flex;
}
#down.active {
    display: none;
}
.displayAlert {
    display: flex;
}
#departList.active {
    display: block;
}
#ArrivalList.active {
    display: block;
}
/* #departList.active {
    display: block;
} */
